body
{
	font-family: 'Antic', sans-serif;
}

a
{
	text-decoration: none;
}

table
{
	width:100%;
}

.action
{
	text-align: right;
}

.nick
{
	font-weight: bold;
}

.time
{
}

.message
{
}

tr:nth-child(even)
{
}

a:hover
{
}

#header
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	max-width: 980px;
	margin: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 80%;
}

#container
{
	max-width: 980px;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: none;
	height: 80%;
}

#content
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	padding: 10px;
	max-height: 700px;
	max-width: 960px;
	overflow:auto;
	font-family: 'Anonymous Pro', sans-serif;
	width: 80%;
	height: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

#footer
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	max-width: 980px;
	margin: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 20px;
	width: 80%;
}

#footer p
{
	text-align: center;
}

#clear
{
	clear: both;
	box-shadow: none;
}

#menu h3
{
	text-align: center;
}

div
{
}

#header 
{
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
}

#content h3
{
	text-align: center;
}

#time
{
	margin-top: 0;
	padding-top: 0;
	font-size: small;
}

